

h1, h2 ,h3, h4, h5, h6 {
	/*color:#819ab8;*/
}


.logo {
	font-family: sans-serif;
	font-weight: bolder;
	color:rgb(15, 15, 10);
}

.custom1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}


.custom2 {
	font-size: 30px !important;
}


.custom3 {

}


.h1Class{
	color: #000;
}


.h2Class{
	color: #d9e2eb;
}


.h4Class{
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
}




.register-button {
	border-color: #fff;
	font-size: 25px;
	color: #fff;
	background: linear-gradient(45deg, #0b63a7 0%, #0b63a7 40%, #414042 40%, #414042 100%); 
}

.register-button:hover {
	border-color: #fff;
	color: #fff;
	background-color: #414042;
}

.register-button-pricing {
	border-color: rgb(51, 51, 51);
	color: #000;
	font-size: 25px;
}

.register-button-pricing:hover {
	transition-delay: 0.25s;
	background-color: #000;
	border-color: #fff;
	color: #fff;
}



input, textarea, .select{
	background: transparent !important;
	color:#fff !important;
	border: 1px solid #1b75bc;
}





.navbar-nav > li.nav-item > a.nav-link {
	color: #414042;
	font-weight: bold;
}

.navbar-nav > li.nav-item > a.nav-link:hover {
	color: #1b75bc;
	border-radius: 0.25rem;

}

.navbar-nav > li.nav-item > a.nav-link:focus {
	color: #fff;
	background-color:#1b75bc;
	border-radius: 0.25rem;

}


.top-offer-bar {
	background: linear-gradient(45deg, #1F4E79 0%, #1F4E79 20%, #414042 20%, #414042 100%);
	color: #fff;
}


.top-bar-visit-link {
	margin-right: 5px;
	color: #fff;
	text-decoration: underline;
}

a.top-bar-visit-link:hover {
	color: #1b75bc !important;
	text-decoration: none;
}

.card-header {
	background-color: #1b75bc;
	border-color: rgb(68, 113, 163);
	padding: 7px;
	color: #fff;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	border-radius:2rem 2rem 0 0 !important;
}

.card {
	height: 100%;
	background: transparent;
}
.card-header > h4 {
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
}



.features-cols > ul {
	padding: 10px;
}

.stylish-ul ul > li {
	/* list-style: url(/static/media/checkmark-circle.ec0b2af7.svg); */
    list-style: none;
    line-height: 30px;
    /* font-family: inherit; */
    font-size: 20px;
}

.card-body ul > li {
	/* list-style: url(/static/media/checkmark-circle.ec0b2af7.svg); */
    list-style: none;
    line-height: 30px;
    /* font-family: inherit; */
	font-size: 18px;
}


.card-body b {
	font-size:15px;
}

/*
.card-body:hover{
	background-color: rgb(48, 72, 100);
	border-color: rgb(15, 49, 88);
	color: #fff;
	border-radius: 0 0 2rem 2rem;
}
*/

.features-cols {
	/*border: rgb(163, 5, 5) solid 1px;*/
	padding: 15px;
}

.features-cols > h2 {
	color: rgb(8, 62, 124);
}

.features-h5 {
	font-size: 30px !important;
	font-family: "Times New Roman", Times, serif;
	color:#414042
}



p{
	font-family: "Times New Roman", Times, serif;		
	font-size: 20px !important;
}


.contact-us-div {
	/*background-image: linear-gradient(180deg, #23262c, #8d1010);
	color: #fff;*/
	background-color: #414042;
	margin-top:50px;
	padding:100px 0 100px 0 ;
	color:#fff;
}

.contact-us-submit-button {
	background: transparent !important;
	border: 1px solid #1b75bc;
	padding:10px;
	border-radius: 0.5rem;
	color:#fff;
	font-weight: bolder;
	font-size: 17px;
}

.contact-us-submit-button:hover {
	transition-delay: 0.25s;
	background-color: #1b75bc !important;
	color:#fff;
}

.features-guide-check-out {
	color:#414042 !important;
}

.features-guide-check-out :hover {
	color: #1b75bc !important;
}

.contact-us-email-address {
	color: rgb(142, 155, 163);
	text-decoration: underline;
}

.contact-us-email-address:hover {
	color: rgb(6, 63, 110);
}


.form-control:focus {
	border: 1px solid #1b75bc;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.623) inset, 0 0 8px rgba(142, 161, 179, 0.6);
  outline: 0 none;
}

.pricing-div {
	/*background-image: linear-gradient(180deg, #23262c, #3f1f1f);*/
	color: #000;
	margin-top:150px;
}

.pricing-table {
	line-height: 10px;
	font-size: 14px;
}

.pricing-table > div {
	padding: 10px;
	border: 1px solid #dee2e6!important;
}


.pricing-amount {
	color:rgb(30, 47, 78);
}

.pricing-plan {
	color:darkgrey;
}


.circle-div{
	padding:2rem;
	height:100%;
	line-height: 10px;

}



.circle-div > p {
	margin: 0;
	font-size: 15px;
}


.circle-div > h5 {
	color: #5279a7 !important;
	font-size: 20px;
}


.mainRow{
	/*background-image: linear-gradient(180deg, #ffffff, #535353, #000);*/
}



.features-div{
	margin-top:150px;
}



.why-edistillery-div{
	background-color: #414042;
	padding:100px 0 100px 0 ;
	color:#fff !important;
}

.why-edistillery-div > .card{
	background: transparent !important;
}

.alcohol-book-div{
	margin-top:150px;
}


.support-div{
	margin-top:50px;
	background-color: #1b75bc;
	padding:100px 0 100px 0 ;
	color:#fff;
}

.stylish-ul-support ul > li {
	list-style: none;
	line-height: 40px;
	font-size: 25px;
}



.features-hr {
	border: 1px solid 	#1b75bc;

}









.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 350px;
  height: 200px;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
}

.front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
}

.containerr {
  display: flex; 
  align-items: center;
  height: 100%;
  justify-content: center;
}


